<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUpd</title>
    <link rel="stylesheet" href="/webDesign/SignUp/src/styles/style.css">
</head>
<body>
    <div class="container">
        <h2>Create an account</h2>
        <form action="">
            <div class="inputBox">
                <input type="text" name="text" id="text" placeholder="Username">
                <div class="underline"></div>
            </div>
            <div class="inputBox">
                <input type="email" name="email" id="email" placeholder="Email">
                <div class="underline"></div>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="password" placeholder="Password">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Create account">
        </form>

        <div class="connect">
            <div class="social">
                <div class="boxFacebook">
                    <a href="#" class="log"><i class="fa-brands fa-google"></i></i>Log in with google</a>
                </div>
            </div>      
        </div>

        <div class="spanBox">
            <span>Already have an account? <a href="#">Log in</a></span>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/07cc412226.js" crossorigin="anonymous"></script>
</body>
</html>