<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webDesign/HomePage/src/styles/style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">LOGO</a>
        <nav class="navbar">
            <a href="#" id="signUp"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>   
            <a href="#"><img id="imgPerfil" src="https://avatars.githubusercontent.com/u/79985842?v=4" alt="PerfilImg"></a>
        </nav>
    </header>

    <main class="container">
        <div class="searchBox">
            <div class="searchBar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="search" id="search" placeholder="Search">
                <select name="filtros" id="filtros" class="select">
                    <option value="none">Filtros</option>
                    <option value="Nome">Nome</option>
                    <option value="autor">Autor</option>
                    <option value="genero">Gênero</option>
                </select>
            </div>
        </div>

        <section class="section-main">
            <div class="card"> 
                <div class="card-book">
                    <img src="https://mypcards.com/img/0/9548/158599/96818204d8c555b3de84d59ab7cbe49f.png" alt="Livro">
                </div>

                <div class="underline"></div>

                <div class="card-book-complement">
                    <h2 class="title__book">Book Title</h2>
                    <p class="complement-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iste. Doloremque cum earum sit. Obcaecati repellat illum ad saepe unde iusto, facilis natus aliquam expedita deserunt dolor? Illo, facere eveniet.</p>
                </div>
            </div>

                        <div class="card"> 
                <div class="card-book">
                    <img src="https://mypcards.com/img/0/9548/158599/96818204d8c555b3de84d59ab7cbe49f.png" alt="Livro">
                </div>

                <div class="underline"></div>

                <div class="card-book-complement">
                    <h2 class="title__book">Book Title</h2>
                    <p class="complement-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iste. Doloremque cum earum sit. Obcaecati repellat illum ad saepe unde iusto, facilis natus aliquam expedita deserunt dolor? Illo, facere eveniet.</p>
                </div>
            </div>

            <div class="card"> 
                <div class="card-book">
                    <img src="https://mypcards.com/img/0/9548/158599/96818204d8c555b3de84d59ab7cbe49f.png" alt="Livro">
                </div>

                <div class="underline"></div>

                <div class="card-book-complement">
                    <h2 class="title__book">Book Title</h2>
                    <p class="complement-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iste. Doloremque cum earum sit. Obcaecati repellat illum ad saepe unde iusto, facilis natus aliquam expedita deserunt dolor? Illo, facere eveniet.</p>
                </div>
            </div>

            <div class="card"> 
                <div class="card-book">
                    <img src="https://mypcards.com/img/0/9548/158599/96818204d8c555b3de84d59ab7cbe49f.png" alt="Livro">
                </div>

                <div class="underline"></div>

                <div class="card-book-complement">
                    <h2 class="title__book">Book Title</h2>
                    <p class="complement-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iste. Doloremque cum earum sit. Obcaecati repellat illum ad saepe unde iusto, facilis natus aliquam expedita deserunt dolor? Illo, facere eveniet.</p>
                </div>
            </div>

            <div class="card"> 
                <div class="card-book">
                    <img src="https://mypcards.com/img/0/9548/158599/96818204d8c555b3de84d59ab7cbe49f.png" alt="Livro">
                </div>

                <div class="underline"></div>

                <div class="card-book-complement">
                    <h2 class="title__book">Book Title</h2>
                    <p class="complement-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iste. Doloremque cum earum sit. Obcaecati repellat illum ad saepe unde iusto, facilis natus aliquam expedita deserunt dolor? Illo, facere eveniet.</p>
                </div>
            </div>

            <div class="card"> 
                <div class="card-book">
                    <img src="https://mypcards.com/img/0/9548/158599/96818204d8c555b3de84d59ab7cbe49f.png" alt="Livro">
                </div>

                <div class="underline"></div>

                <div class="card-book-complement">
                    <h2 class="title__book">Book Title</h2>
                    <p class="complement-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iste. Doloremque cum earum sit. Obcaecati repellat illum ad saepe unde iusto, facilis natus aliquam expedita deserunt dolor? Illo, facere eveniet.</p>
                </div>
            </div>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/07cc412226.js" crossorigin="anonymous"></script>
</body>
</html>