<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginScreen</title>
    <link rel="stylesheet" href="/webDesign/Login/src/styles/style.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <span class="subtitle">Welcome back! Please enter your details.</span>
        <div class="connect">
            <div class="social">
                <div class="boxFacebook">
                    <a href="#" class="log"><i class="fa-brands fa-google"></i></i>Log in with google</a>
                </div>
            </div>      
        </div>

        <div class="hrBox"><span class="hr">Or</span></div>

        <form action="">
            <div class="inputBox">
                <input type="email" name="email" id="email" placeholder="Email">
                <div class="underline"></div>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="password" placeholder="Password">
                <div class="underline"></div>
            </div>

            <div class="passwordF"><a href="#">Forgot password?</a></div>

            <input type="submit" value="Log in">
        </form>

        <div class="spanBox">
            <span>Don't have an account? <a href="#">Sign up for free</a></span>
        </div>
        
    </div>

    <script src="https://kit.fontawesome.com/07cc412226.js" crossorigin="anonymous"></script>
</body>
</html>