<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="src/styles/style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">LOGO</a>
        <nav class="navbar">
            <a href="#" id="signIn">Sign in</a>
            <a href="#" id="signUp">Sign up</a>
        </nav>
    </header>

    <main class="container">
        <section class="section-main">
            <div class="containerDiv">
                <div class="titleBox">
                    <h2>Love tu much much</h2>
                </div>
                <div class="contentBox">
                    <img src="https://i.pinimg.com/736x/cb/4f/8a/cb4f8ad34336c38b30e64190a77ba720.jpg" alt="img">
                </div>
            </div>
        </section>

        <section class="section-second">

        </section>
    </main>

</body>
</html>